@using System.Web.Mvc.Html;
@using System.Web.Mvc;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>IMS PAFKIET</title>
    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/simple-sidebar.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
@if (Session["name"] == null)
{
    Response.Redirect("../Auth/Index");
}
else
{
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-dark border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <img src="~/Content/imgs/logo.png" width="70" />
                <span class="text-light">PIXELS</span>
            </div>
            <div class="list-group list-group-flush">
                @if (Session["role"].ToString() == "Admin")
                {
                    <a href="~/USERs/Index" class="list-group-item list-group-item-action bg-dark text-light">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        Users
                    </a>

                    <a href="~/ROLEs/Index" class="list-group-item list-group-item-action bg-dark text-light">
                        <i class="fa fa-id-badge"> </i>
                        Roles
                    </a>
                }
                @if ((Session["role"].ToString() == "Admin") || (Session["role"].ToString() == "Cashier"))
                {
                    <a href="~/CATEGORies/Index" class="list-group-item list-group-item-action bg-dark text-light">
                        <i class="fa fa-tasks" aria-hidden="true"> </i>
                        Categories
                    </a>

                    <a href="~/PRODUCTs/Index" class="list-group-item list-group-item-action bg-dark text-light">
                        <i class="fa fa-shopping-bag" aria-hidden="true"> </i>
                        Products
                    </a>


                    <a href="~/PRODUCT_DETAILS/Index" class="list-group-item list-group-item-action bg-dark text-light">
                        <i class="fa fa-shopping-cart" aria-hidden="true"> </i>
                        Products Details
                    </a>

                    <a href="~/PRODUCT_CATEGORY/Index" class="list-group-item list-group-item-action bg-dark text-light">
                        <i class="fa fa-list-ol" aria-hidden="true"></i>
                        Products Category
                    </a>
                }
                @if ((Session["role"].ToString() == "Manager") || (Session["role"].ToString() == "Cashier"))
                {
                    <a href="~/ORDERs/Index" class="list-group-item list-group-item-action bg-dark text-light">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"> </i>
                        Orders
                    </a>
                    <a href="~/ORDER_DETAIL/Index" class="list-group-item list-group-item-action bg-dark text-light">
                        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                        Orders Details
                    </a>
                }
                @if ((Session["role"].ToString() == "Manager") || (Session["role"].ToString() == "Cashier"))
                {
                    <a href="~/PAYMENTs/Index" class="list-group-item list-group-item-action bg-dark text-light">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        Payments
                    </a>
                }
                @if (Session["role"].ToString() == "Manager")
                {
                    <a href="~/SUPPLIERs/Index" class="list-group-item list-group-item-action bg-dark text-light">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                        Suppliers
                    </a>
                }

            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">
                    <i class="fa fa-bars"></i>
                </button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item active">
                            Welcome @Session["name"] @Html.ActionLink("Logout", "Logout", "Auth")
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                @RenderBody();
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });</script>
    @RenderSection("scripts", required: false)

</body>
}
</html>
